@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{

    background-color: rgb(239, 226, 226);
    width: 434px;
     font-family: 'Lato', sans-serif;
     height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style:none;
    font-size: 30 px;
    padding: 33px 0;
    
}
.sidebar nav li{
    text-decoration: none;
    color:black;
}
.main{
    background-color:blue;
    width: 90vw;
    padding: 23p;
}
.conatiner{
    display: flex;
}
.infoconatiner{
    background-color:purple;
    height: 58vh;
    width: 80vw;
    margin:147px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.about{
    font-size: 40px;
}
.moreabout{
    margin-top: 23px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.button{
    margin-top: 34px;
}

.button button{
    padding: 9px 14px ;
    border-radius:22px ;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size:21px ;
    margin:0 3px ;
    cursor: pointer;

}

.button button:hover{
    background-color: white;
    color: dodgerblue;
    
}
.devpic img{
    
    height:58vh ;
    
}

